/* @font-face {
    font-family: 'Pacifico-Regular';
    src: url(static/police/Pacifico/Pacifico-Regular.ttf) format('opentype');
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

button{
    cursor: pointer;
}
.dn{display: none;}
.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}
.curseurPointeur{cursor: pointer;}
.borderradus{border-radius: 20px;}