*{margin: 0;padding: 0;box-sizing: border-box;}

html{
    --cl-red:#dc3545;
    --cl-bleu:#0d6efd;
    --cl-green:#198754;
    --cl-blanc:#fff;
    --cl-code:#161b21;
    --cl-yellow:#ffc107;
}

main{
    width: 50%;
    margin: 15px auto;
}
h1,h2{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
}

main .h{
    width: 100%;
    overflow: hidden;
    & img{
        margin: 10px auto;
        display: block;
        transition: all linear .3s;
    }
}
main .cmd{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}
main input{
    display: none;
}
main button,main label{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: var(--cl-bleu);
    padding: 0.3em 0.5em;
    border: 0;
    color: var(--cl-blanc);
}
.h label,main button.v{
    display: block;
    width: 100%;
    margin: 10px auto;
    display: block;
}
label.active,main button:hover,main label:hover{
    background-color: var(--cl-green);
    transition: all linear 0.3s;
}
.gr{
    transform: scale(1.3);
}
.fl{
    filter: blur(5px);
}
.dm{
    transform: scale(0.5);
}
.tr{
    transform: rotate(360deg);
}
.bt{
    transform: scale(1); 
    animation: bat 0.8s 3 forwards;
}
@keyframes bat {
    0%{
        transform: scale(1.3);
    }
    50%{
        transform: scale(1.0);
    } 
    100%{
        transform: scale(1.3);
    }
}

.ad{
    border-radius: 20px;
}